@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    box-sizing: border-box;
}

.hidden{
    display: none;
}

.poinModal{
    transition: ease-in-out .5s;
}

body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e0e5c;
}

.stats{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title{
    font-size: 40px;
}

.chronometer, .score{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.container {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 25px 25px;
    padding: 30px;
}

.card{
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    position: relative;
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
}


.dorso{
    z-index: 10;
    background-color: blue;
    backface-visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.dorso:hover{
    transform: scale(1.1);
}

.faccia{
    z-index: 1;
    background-color: yellow;
    background-size: cover;
}

.card, .dorso, .faccia{
    border-radius: 35px;
}

.dorso, .faccia{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.card.selected, .paired{
    transform: rotateY(180deg);
}

.paired{
    border: 2px solid red;
}