@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

.hidden{
    display: none!important;
}

.poinModal{
    transition: ease-in-out .5s;
}

body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c182e;
    background-image: linear-gradient(315deg, #2c182e 0%, #0d324d 74%);
    border-radius: 0 0 30px 30px;
    color: white;
}

.stats{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title{
    font-size: 40px;
}

.chronometer, .scoreContainer{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.container {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 25px 25px;
    padding: 30px;
    position: relative;
}

.card{
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    position: relative;
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.dorso{
    z-index: 10;
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    backface-visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.dorso:hover{
    transform: scale(1.1);
}

.faccia{
    z-index: 1;
    background-color: yellow;
    background-size: contain;
}

.card, .dorso, .faccia{
    border-radius: 35px;
}

.dorso, .faccia{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.card.selected, .paired{
    transform: rotateY(180deg);
}

.paired{
    border: 3px solid rgb(30, 2, 100);
}

.pointsContainer{
    position: relative;
}

.pointModal{
    position: absolute;
    top: 0;
    left: 110%;
}

.fadeIn{
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
    
.fadeOut{
    animation: fadeOut 0.5s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65vw;
    height: 50vh;
    background-color: white;
    opacity: 0.7;
    display: flex;
    justify-content: center;
}

.modalContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal.modalContenth2{
    color: black;
}

@media (max-width: 768px){

    .title{
        font-size: 20px;
    }

    .stats .chronometer h3, .stats .scoreContainer h3, .stats .chronometer span, .stats .scoreContainer span{
        font-size: 15px!important;
    }

    .container{
        display: grid;
        align-content: center;
        justify-content: center;
        grid-template-columns: repeat(2, 85px);
        grid-template-rows: repeat(5, 85px);
        gap: 20px 50px;
        padding: 30px;
        position: relative;
    }

    .card, .dorso, .faccia{
        border-radius: 20px;
    }
}
    
